# Astro Runtime includes the following pre-installed providers packages: https://www.astronomer.io/docs/astro/runtime-image-architecture#provider-packages
langchain-community
langchain-openai
langgraph
langchain-neo4j